@import "normalize.css";
@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  --primary: rgba(254, 44, 85, 1);
  --black: black;
  --white: white;
  --text-color: #333;

  //Default layout
  --default-layout-width: 1150px;
  --default-layout-header-height: 60px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  text-rendering: optimizeSpeed;
  overflow-y: overlay;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  text-decoration: none;
  // color: var(--text-color);
  cursor: pointer;
  background-color: transparent;
}

button {
  font-size: 1.4rem;
  &:hover {
    color: #fff;
    background-color: #35509a;
    border-color: #35509a;
  }
}

audio:not([controls]) {
  display: none !important;
}

input[type="range"] {
  height: 6px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #e8f2ff !important;
  color: #35509a !important;
  font-weight: 600;
  border-radius: 16px !important;
}

.react-tabs__tab-list {
  display: flex !important;
  overflow-x: auto !important;
  overflow-y: hidden !important;
  flex-wrap: nowrap !important;
  list-style: none !important;
  border-bottom: none !important;
  margin-bottom: 20px !important;
  cursor: pointer !important;
  & li {
    margin-right: 0.8rem;

    padding: 4px 15px;
    background-color: #f8f9fa;
    border-radius: 25px;
    white-space: nowrap;
    color: #1a1a1a;
  }
}
.react-tabs__tab--selected {
  background-color: #e8f2ff !important;
  color: #35509a !important;
  font-weight: 600;
  border-radius: 16px !important;
}
.headingMiniTest {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}
.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  h2 {
    font-size: 5rem;
  }
  p,
  div {
    font-size: 2rem;
  }
}

/*======================
    404 page
=======================*/

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}

.dropdown-item  {
  font-size: 1.5rem;
}

