.app {
    // display: flex;
    margin-top: 5%;
    margin-left: 3rem;
}

.container {
    width: 100%;
    margin-left: 8%;
}

.upload_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.form_group {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-bottom: 5rem;

    div {
        overflow: hidden;

        p {
            font-size: 2rem;
            text-align: center;

        }
    }
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="file"] {
    margin-top: 5px;
}

.submit_button {
    margin-top: 30px;
    padding: 20px 30px;
    font-size: 2rem;
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.submit_button:hover {
    background-color: #005ea3;
}

.labeltext {
    margin-top: 5px;
    font-weight: bold;
}

.labeltext+input {
    height: 50px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    font-size: 1.25em;
    font-weight: 700;
    padding: 1rem;
    color: rgba(1, 1, 1, 0.663);
    background-color: lightblue;
    display: inline-block;
}

.inputfile:focus+label,
.inputfile+label:hover {
    background-color: blueviolet;
    color: white;
}

.inputfile+label {
    cursor: pointer;
    /* "hand" cursor */
}

.inputfile:focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}