.wrapper {
  margin-bottom: 1rem;
  h6 {
    font-weight: 600;
    margin-bottom: 1rem;
    line-height: 1.35;
    font-size: 1.6rem;
  }
  .inner {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    & span {
      display: inline-flex;
      border-radius: 3px;
      border-color: #f7faff;
      border: 1px solid;
      font-weight: 600;
      margin-right: 4px;
      margin-bottom: 8px;
      width: 28px;
      height: 25px;
      font-size: 11px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:hover {
        background-color: #35509a !important;
        color: #fff;
        border-color: #35509a;
      }
    }
  }
}
